.vrn {
  margin: 30px 10px 0px 60px;
}
.v {
  color: #ff80d9;
  font-family: "Inter",sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.r {
  color: #c1ff44;
  font-family: "Inter",sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.n {
  color: #fff;
  font-family: "Inter",sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.tagline {
  top: 662px;
  left: 111px;
  font-family: "Inter",sans-serif;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  font-weight: 700;
  margin: 0px 10px 10px 60px;
}
.button {
  flex-shrink: 0;
  background: #f94ac9;
  margin: 10px 10px 10px 60px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s linear;
  color: #fff;
  border-radius: 7px;
}
.button:hover {
  background-color: #e992d2;
  border-radius: 0;
  scale: 1.1;
  border-radius: 7px;
}
.lpimage {
  padding: 21.41px, 52.74px, 24.53px, 49.66px;
  position: absolute;
  top: 120px;
  left: 560px;
  max-width: 80vw;
}
.total_component{
  max-width: 80vw;
}